@using Historias_Clinicas.ViewModels
@model Login

@{
    ViewData["Title"] = "Iniciar Sesion";
}
<h1>@ViewData["Title"]</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IniciarSesion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="Recordarme" class="form-check-input" />
                <label asp-for="Recordarme" class="form-check-label"></label>
                <span asp-validation-for="Recordarme" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left:300px">
                <input class="boton" type="submit" value="Login"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" class="btn btn-secondary" asp-action="Index" asp-controller="Home"> Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
