@model Historias_Clinicas.Models.Evolucion

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Evolucion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="FechaYHoraAlta">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <input class="form-control" type="datetime-local" id="FechaYHoraCierre"
                           name="FechaYHoraCierre" value=DateTime.Now
                           min=DateTime.Now max="2023-06-14T00:00">
                    <span class="text-danger"></span>
                </div>
            </form>
            <div class="form-group">
                <label asp-for="DescripcionAtencion" class="control-label"></label>
                <input asp-for="DescripcionAtencion" class="form-control" />
                <span asp-validation-for="DescripcionAtencion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" class="btn btn-secondary" style="margin-left: 20px"  asp-action="EvolucionesPorEpisodio" asp-route-Id="@TempData["EpisodioId"]">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
