@model IEnumerable<Historias_Clinicas.Models.Evolucion>

@{
    ViewData["Title"] = "EvolucionesPorEpisodio";
}


<header>
    <h1>Evoluciones</h1>
    <br />
    <h3>Listado de Evoluciones cargadas para el Episodio  @TempData["EpisodioId"] </h3>

</header>

@if (User.IsInRole("Medico"))

{
    <p align="right">
        <a type="button" class="btn btn-link justify-content-md-end mb-3" asp-action="Create" asp-controller="Evoluciones" asp-route-Id="@TempData["EpisodioId"]">
            Agregar Evolucion
        </a>

    </p>
}
