<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bienvendios a Ort Salud !</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    @Html.Partial("Favicons")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
            <div class="container encabezado">
                @if (User.IsInRole("Medico"))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Medicos" asp-action="MenuMedico">
                        <img src="~/css/images/508826.png" alt="" width="55" height="35" class="d-inline-block align-text">Historias Clinicas
                    </a>}
                @if (User.IsInRole("Empleado"))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Empleados" asp-action="MenuEmpleado">
                        <img src="~/css/images/508826.png" alt="" width="55" height="35" class="d-inline-block align-text">Historias Clinicas
                    </a>} 
                @if (User.IsInRole("Paciente"))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Pacientes" asp-action="MenuPaciente">
                        <img src="~/css/images/508826.png" alt="" width="55" height="35" class="d-inline-block align-text">Historias Clinicas
                    </a>}


                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="nav justify-content-center">

                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="CerrarSesion">Cerrar Sesion</a>
                                </li>

                                @if (User.IsInRole("EsEmpleado"))
                                /// ACA VA A MOSTRAR SOLO SI EL USUARIO ES ADMIN
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ListarRoles">Listar Roles</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Empleados" asp-action="Index">Empleado</a>
                                    </li>
                                }

                                else if (User.IsInRole("EsMedico"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Medicos" asp-action="Index">Medico</a>
                                    </li>
                                }

                                else if (User.IsInRole("EsPaciente"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Pacientes" asp-action="Index">Paciente</a>
                                    </li>

                                }


                            }
                            else
                            /// ACA EL VA A MOSTRAR CUANDO EL USUARIO NO ESTE LOGUEADO
                            {
                                <li class="nav-item d-flex justify-content-between align-items-center">
                                    ¿No tenes usuario?
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Registrar">Registrate</a>
                                </li>

                                @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="IniciarSesion">Iniciar Sesion</a>
                        </li>*@


                            }



                        </ul>


                    </div>
                </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; 2022 - Historias_Clinicas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
            <a asp-area="" asp-controller="Home" asp-action="AboutUs">Sobre nosotros</a>
            <a asp-area="" asp-controller="PreCarga" asp-action="Seed" class="btn btn-sm btn-info">PreCarga</a>
            <p>Numero de atencion: 0-800-SALUDORT. Red de emergencia 24hs: 0-800-AYUDAORT.</p>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
