
@{
    ViewData["Title"] = "AboutUs";
}

<h1>Acerca de nosotros</h1>
<p> Este es un proyecto con fines educativos, para poner en práctica conocimientos aprendidos acerca de .net, netcore, html, css, javascript, bootstrap, base de datos, 
    entre otros. La materia para la cual fue encomendado es Programación de Nuevas Tecnologías 1, que corresponde al segundo cuatrimestre del primer año de Analista de Sistemas
    del reconocido terciario ORT. 
    El proyecto se fue actualizando con entregas semanales, a traves de Github con milestones e issues, y la aprobación del mismo equivale a la aprobación de la cursada.
    
    Los integrantes del grupo son: Francisco Veron, Paola Quiñonez, Mateo Bellomo , Camila Szesko y Valentino Caceres</p>
