
<h1> Bienvenido ! En que podemos ayudarte?</h1>

<a class="menuBoton"> Historia Clinica</a>
<a class="boton"> Consultar Medico</a>
<a class="boton" > Episodios</a>
<a class="boton"> Acutalizar Datos</a>