<div class="container">
    <div class="row">
        <div class=" col-lg-2"></div>
        <div class=" col-lg-6 col-md-12">
            <h1> Bienvenido ! </h1>
            <h1 class="m-4">En que podemos ayudarte?</h1>
            <button type="button" class="btn btn-secondary btn-lg btn-block">
                Historia Clinica
            </button>

            <button type="button" class="btn btn-secondary btn-lg btn-block">
              Consultar Medico
            </button>          
            
            <button type="button" class="btn btn-secondary btn-lg btn-block">
                   Episodios </button>
            
            <button type="button" class="btn btn-secondary btn-lg btn-block">
                Actualizar Datos
            </button>

        </div>
        <div class=" col-lg-2"></div>
    </div>
    </div>