.table {
    overflow-x: auto;
}

h1 {
    color: #081c6b;
}

.nobull {
    list-style-type: none;
}
.menuBoton {
    display: inline-block;
    background: #4E9CAF;
    padding: 23px ;
    font-size: 30px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    color: #FFFF;
    font-weight: bold;
    line-height: 15px;
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
} 

.boton {
    display: inline;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.divBoton {
    display: inline-flex;
    padding: 2px;
    line-height: 1px;
}
.boton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
li:last-child a {
    margin-right: 0;
    border-radius: 5px;
}


a:hover {
    background: #488694;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

a:active {
    background: black;
    color: white;
    border-radius: 5px;
}

.encabezado a:hover {
    background-color: #b6c8fa;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.menuBotonMedico {
    display: inline-block;
    background: #4E9CAF;
    padding: 10px 30px;
    position: relative;
    top: 80px;
    left: 60px;
    font-size: 20px;
    width: 100%;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    color: #FFFF;
    font-weight: bold;
    line-height: 15px;
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}
.botonTablas {
    display: inline;
    background: #4E9CAF;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    line-height: 5px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*.botonAgregar {
    display: inline;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    color: #60606f;
    font-weight: bold;
    
}*/


.botonAgregar {
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 2;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 14px;
}

.botonAgregar:focus {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }

.botonAgregar:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

.botonAgregar:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }