@model Historias_Clinicas.Models.Epicrisis

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Epicrisis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicoId" class="control-label"></label>
                <input asp-for="MedicoId" class="form-control" />
                <span asp-validation-for="MedicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label"></label>
                <input asp-for="PacienteId" class="form-control" />
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resumen" class="control-label"></label>
                <input asp-for="Resumen" class="form-control" />
                <span asp-validation-for="Resumen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasInternacion" class="control-label"></label>
                <input asp-for="DiasInternacion" class="form-control" />
                <span asp-validation-for="DiasInternacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaYHora" class="control-label"></label>
                <input asp-for="FechaYHora" class="form-control" />
                <span asp-validation-for="FechaYHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaYHoraAlta" class="control-label"></label>
                <input asp-for="FechaYHoraAlta" class="form-control" />
                <span asp-validation-for="FechaYHoraAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaYHoraIngreso" class="control-label"></label>
                <input asp-for="FechaYHoraIngreso" class="form-control" />
                <span asp-validation-for="FechaYHoraIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
