@model Historias_Clinicas.Models.Epicrisis

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Epicrisis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MedicoId" class="control-label"></label>
                <input asp-for="MedicoId" class="form-control" />
                <span asp-validation-for="MedicoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpisodioId" class="control-label"></label>
                <input asp-for="EpisodioId" class="form-control" />
                <span asp-validation-for="EpisodioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnostico" class="control-label"></label>
                <input asp-for="Diagnostico" class="form-control" />
                <span asp-validation-for="Diagnostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="EpicrisisPorEpisodio" asp-route-id="@TempData["episodioId"]">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
