@model IEnumerable<Historias_Clinicas.Models.Epicrisis>
    
@{
    ViewData["Title"] = "EpicrisisPorEpisodio";
}


<header>
    <h1>Epicrisis episodio</h1>
    <h3> Listado de Episodios</h3>
    <p></p>
    <p></p>
    <p style="background-color: white; color: black; font-weight: bold; font-size:larger" align="left"> Numero de Historia Clínica : @ViewData["historiaId"] </p>
</header>
