@model Historias_Clinicas.Models.Episodio

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class=" col-lg-2"></div>
        <div class=" col-lg-8 col-md-12">
            <h1> Esta seguro que desea Cerrar este Episodio?</h1>
            <h3>Id de paciente @TempData["historiaId"]</h3>
            <h1> Esta accion es irreverisble</h1>

            <a class="boton" asp-action="CerrarEpisodio" asp-route-id="@TempData["espisodioId"]" asp-route-paciente="@TempData["historiaId"]">Cerrar Episodio</a>
            <a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="HistoriaClinicaDePaciente" asp-controller="HistoriaClinicas" asp-route-id="@TempData["historiaId"]">Volver</a>

        </div>
    </div>
    <div class="col-lg-2"></div>
</div>