@model Historias_Clinicas.Models.Episodio

@{
   
}


<h1> Accion Denegada</h1>
<br />
<br />

<h3>El Episodio tiene alguna Evolución en estado Abierta o no tiene evoluciones.</h3>
<br />
<br />
<h3>Complete la Evolucion y vuelva a intentarlo</h3>
<br />
<br />
<br />
<br />

<a class="boton" asp-action="MenuMedico" asp-controller="Medicos" > Volver</a>