@model Historias_Clinicas.Models.Episodio

@{
   
}


<h1> Accion Denegada</h1>
<br />
<br />

<h3>El Episodio tiene alguna Evolución que se encuentra Abierta o no tiene evoluciones.</h3>
<br />
<br />
<h3>Verifique las Evoluciones y vuelva a intentarlo</h3>
<br />
<br />
<br />
<br />

<a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="HistoriaClinicaDePaciente" asp-controller="HistoriaClinicas" asp-route-Id="@TempData["pacienteId"]">Volver</a>